* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffd89d;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  margin: 50px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
h1 {
  width: 31.09px;
  height: 49.03px;
  color: darkblue;
  font-size: 4rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  margin: 0 auto;
}

.presentacion {
  border-radius: 10%;
  line-height: 1.5;
  text-align: center;
  font-size: 1.5rem;
  border: 2px solid #ffffff00;
  width: 100%;
  height: 6rem;
  margin-bottom: 20px;
  position: relative;
  padding: 0px;
  background-color: transparent;
  color: #000000;
  z-index: 2;
  resize: both;
  overflow: hidden;
}

.botones {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

button {
  background-color: rgb(225, 225, 66);
  margin: 5px;
  width: 50%;
  height: 3.9rem;
  font-weight: bold;
  border-radius: 50px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 100%;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

@media only screen and (max-width: 600px) {
  header {
    margin: 20px;
  }

  main {
    width: 90%;
    padding: 10px;
  }

  button {
    width: 100%;
    margin-bottom: 10px;
  }
}

button:hover {
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="48" viewBox="0 0 24 24"><g fill="%23000"><path d="M18 7c-3 0-5.5-1.5-9 2s-2 6-2 9c0 5 4.1 5.63 6 5 3-1 1-3 4-6s5-1 6-4c.63-1.9 0-6-5-6Z"></path><circle cx="8.2" cy="4" r="2"></circle><circle cx="4" cy="8.2" r="2"></circle><circle cx="14" cy="3" r="2"></circle><circle cx="3" cy="14" r="2"></circle></g></svg>'),
    auto;
}
.catneoncuadro {
  position: relative;
  width: 80%;
}
.beige {
  position: absolute;
  border-radius: 15%;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
